* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 60%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

h1,
h2,
p {
    margin: 1.6rem 0;
}

h1 {
    font-weight: 800;
    font-size: 3.6rem;
}

h2 {
    font-weight: 800;
    font-size: 2.4rem;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    color: black;
}

p {
    font-weight: 400;
    font-size: 1.8rem;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

article {
    padding: 100px 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: whitesmoke;
    color: black;
    position: sticky;
    top: 0px;
    padding: 1% 10%;
}

.logo h1 {
    font-size: 3.2rem;
    color: #FA7070;
    margin: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 2.5rem;
}

nav ul li a:hover {
    color: #FA7070;
}

/* Jumbotron */
.jumbotron {
    width: 100%;
    padding: 75px 0;
    background-color: #222;
    color: whitesmoke;
}

.desc-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-image {
    max-width: 450px;
    height: auto;
}

/* Kategori*/
.kategori {
    background-color: whitesmoke;
}

.kategori .row {
    justify-content: center;
    margin-bottom: 60px;
}

.kategori-kiri,
.kategori-tengah,
.kategori-kanan {
    flex-basis: 30%;
    padding: 1.6rem;
}

/* Switch */
.switch {
    background-color: #222;
    color: whitesmoke;
}

.switch-desc {
    flex-basis: 50%;
}

.switch-right {
    flex-basis: 30%;
}

.switch .card {
    padding: 3rem 8rem;
    color: #222;
    background-color: #DCDCDC;
    margin: 1.6rem;
    text-align: center;
}

.switch .card2 {
    padding: 3rem 5.5rem;
    color: #222;
    background-color: #DCDCDC;
    margin: 1.6rem;
    text-align: center;
}

/* Testimoni */
.testimoni {
    background-color: whitesmoke;
}

.testimoni h1 {
    color: black;
}

.testimoni .row {
    justify-content: center;
    margin-bottom: 60px;
    color: whitesmoke;
}

.testimoni .testi {
    background-color: #505050;
    padding: 4rem 8rem;
    margin: 0 1rem;
}

.testimoni .image {
    height: 80px;
    width: 80px;
}

.testimoni img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* Kontak */
.kontak {
    background-color: #222;
    color: whitesmoke;
}

.kontak .row {
    justify-content: center;
}

form {
    margin: 2.4rem 0;
}

input {
    font-size: 1.8rem;
}

input[type=text],
input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 1.2rem 0;
    display: block;
    border: 1px solid #ccc;
}

input[type=submit] {
    width: 50%;
    background-color: #FA7070;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

input::placeholder {
    font-size: 1.3rem;
    color: #ccc;
}

.kontak form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kontak form input {
    width: 50%;
}

.kontak textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    font-size: 1.3rem;
    resize: none;
    color: #ccc;
    margin: 1.2rem 0;
    font-family: "Poppins", sans-serif;
}